<launch>
	<param name="/slam_gmapping/angularUpdate" value="0.2"/>
	<param name="/slam_gmapping/linearUpdate" value="0.2"/>
	<param name="/slam_gmapping/lskip" value="10"/>
	<param name="/slam_gmapping/xmax" value="10"/>
	<param name="/slam_gmapping/xmin" value="-10"/>
	<param name="/slam_gmapping/ymax" value="10"/>
	<param name="/slam_gmapping/ymin" value="-10"/>
	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping"/>
</launch>
