<launch>
	<!--include file="$(find turtlebot_follower)/launch/follower.launch"/-->
	<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
	<include file="$(find openni2_launch)/launch/openni2.launch"/>

	<node pkg="competition1" type="laser_point_publisher_front.py" name="laser_point_publisher_front">
		<remap from="point_follower/point" to="point_follower/point"/>
		<remap from="scan" to="scan"/>
	</node>

	<node pkg="competition1" type="point_follower_front.py" name="point_follower_front">
		<remap from="point_follower/point" to="point_follower/point"/>
		<remap from="cmd_vel" to="twist_in"/>
	</node>

	<node pkg="competition1" type="twist_to_ramped_twist.py" name="twist_to_ramped_twist">
		<remap from="twist_in" to="twist_in"/>
		<remap from="twist_out" to="cmd_vel_mux/input/teleop"/>
	</node>
</launch>
