<launch>
	<include file="$(find openni2_launch)/launch/openni2.launch"/>
	<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
	
	<node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
		<remap from="image" to="camera/depth/image_rect"/>
		<param name="scan_height" value="200"/>
	</node>

	<node pkg="competition1" type="twist_to_ramped_twist.py" name="twist_to_ramped">
		<remap from="twist_out" to="cmd_vel_mux/input/teleop"/>
		<param name="~linear_accel" value="4.0"/>
		<param name="~angular_accel" value="40.0"/>
	</node>
	<node pkg="competition1" type="wander.py" name="wander" output="screen">
		<remap from="cmd_vel" to="twist_in"/>
	</node>

	<node pkg="joy" type="joy_node" name="joy_node"/>
</launch>
