<launch>
	<include file="$(find openni2_launch)/launch/openni2.launch"/>
	<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
	
	<node pkg="demo3" type="follower_p.py" name="follower">
		<remap from="cmd_vel_mux/input/teleop" to="twist_x_in"/>
	</node>

	<node pkg="demo3" type="x_is_death.py" name="x_is_death" output="screen">
		<remap from="twist_in" to="twist_x_in"/>
		<remap from="twist_out" to="cmd_vel_mux/input/teleop"/>
	</node>

	<node pkg="joy" type="joy_node" name="joy_node"/>
</launch>
