<launch>
	<arg name="marker_size" default="4.4" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/usb_cam/image_raw" />
	<arg name="cam_info_topic" default="/usb_cam/camera_info" />
	<arg name="output_frame" default="/head_camera" />

	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node"/>
	<node name="logo_track" pkg="demo6" type="logo_track.py" output="screen" cwd="node">
		<remap from="image"  to="$(arg cam_image_topic)" />
	</node>
</launch>
